/* MAIN STYLESHEET
======================= */

@import "bootstrap", "font-awesome";

/* Variables
----------------------- */

$lhc: $line-height-computed;

/* Sticky footer styles
----------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $lhc * 3;
}

body > .container {
  padding-top: $lhc * 3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $lhc * 3;
  background-color: #b2dfdb;
  .credit {
  	margin-top: $lhc;
  }
}

